:root {
    --main-bg-color: rgb(235, 237, 238);
    --secondary-bg-color: white;
    --tertiary-bg-color: rgb(64, 64, 64);
    --playback-main-color: rgb(183, 181, 181);
    --playback-new-color: rgb(67, 67, 67);
    --settings-blue: rgb(0, 98, 255);
}

html, body {
    margin: 0;
    padding: 0;
    background-color: var(--main-bg-color);
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-color: var(--tertiary-bg-color);
    display: flex;
    justify-content: space-between;
}
 .header > p {
    color: white;
 }

.header > i {
    color: rgb(251, 251, 251);
    font-size: 22px;
    padding: 15px;
}

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    margin-top: 52px;
}

.modal-underlay {
    width: 100%;
    height: 100%;
    opacity: 0.8;
    background: #a0a0a0;
    border: none;
    z-index: 1;
}

.modal-underlay:hover {
    cursor: pointer;
} 

.settings-container {
    position: absolute;
    top: 2px;
    right: 0px;
    height: 728px;
    width: 320px;
    background-color: var(--main-bg-color);
    border: none;
    border-radius: 10px;
    overflow: hidden;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.settings-header {
    width: 100%;
    background-color: var(--secondary-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.speed-header {
    width: 100%;
    background-color: var(--secondary-bg-color);
    display: flex;
    align-items: center;
}

.speed-header > i {
    font-size: 24px;
    padding-left: 10px;
}

.blue {
    color: var(--settings-blue);
}

.center {
    margin-left: auto;
    margin-right: auto;
    padding-right: 22px;
}

.setting-group {
    width: 80%;
    margin-top: 20px;
    border-radius: 10px;
    overflow: hidden;
}

.separator {
    width: 100%;
    height: 1px;
    background-color: var(--main-bg-color);
}

.setting-button {
    position: relative;
    background-color: var(--secondary-bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px 0px 10px;
}

.setting-button:hover {
    cursor: pointer;
}

.setting-button > i {
    color: var(--tertiary-bg-color);
}

.reset {
    position: absolute;
    width: 20%;
    padding: 20px;
    right: -50%;
    transition: right 0.5s ease-in-out;
    background-color: rgb(255, 85, 85);
    color: white;
    text-align: center;
}

.slide-left {
    right: 0;
}

.quiz-container {
    background-color: var(--secondary-bg-color);
    margin: auto;
    width: 560px;
    margin-top: 20px;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.playback-container {
    width: 100%;
    box-sizing: border-box;
    padding: 30px;
    margin-bottom: 10px;;
    background: linear-gradient(to bottom, var(--main-bg-color), white);
    border-radius: 8px;
    border: solid rgb(195, 195, 195) 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.playback-container > i {
    color: black;
    font-size: 20px;
}

:hover i {
    cursor: pointer;
}

.playback-line {
    width: 90%;
    height: 5px;
    margin-right: 10px;
    background-color: gray;
}

.playback-active-line {
    width: 0%;
    height: 100%;
    background-color: var(--playback-new-color);
    transition: none;
}

.slow {
    width: 100%;
    transition: width 2s;
    transition-timing-function: linear;
}

.medium {
    width: 100%;
    transition: width 1s;
    transition-timing-function: linear;
}

.fast {
    width: 100%;
    transition: width 0.5s;
    transition-timing-function: linear;
}

.lightning {
    width: 100%;
    transition: width 0.25s;
    transition-timing-function: linear;
}

.quiz-row {
    width: 100%;
    display: flex;
}

.right {
    justify-content: end;
}

.answer-card {
    width: 49%;
    height: 40px;
    border-radius: 8px;
    font-size: 15px;
    margin: 3px;
    padding: 8px;
    color: var(--tertiary-bg-color);
    background: linear-gradient(to top, var(--main-bg-color), white);
    border: solid rgb(235, 235, 235) 1px; 
    cursor: pointer;
}

.empty {
    background: white;
    color: white;
}

.empty:hover, .clicked:hover {
    cursor: auto;
}

.green-button {
    background: linear-gradient(to top, rgb(122, 231, 122), rgb(196, 229, 196));
    border: solid rgb(150, 193, 150) 1px;
}

.red-button {
    background: linear-gradient(to top, rgb(255, 114, 114), rgb(255, 193, 193));
    border: solid rgb(255, 144, 144) 1px;
}

.score-container {
    background-color: var(--secondary-bg-color);
    margin: auto;
    width: 300px;
    margin-top: 20px;
    border-radius: 8px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.correct-box {
    height: 24px;
}

@media (max-width: 600px) {
    html, body {
        background-color: white;
    }
    
    .quiz-container {
        width: 90%;
        margin-top: 0;
    }

    .playback-line {
        width: 86%;
    }

    .score-container {
        margin-top: 0;
        padding: 0;
    }
}