:root {
    --main-bg-color: rgb(235, 237, 238);
    --secondary-bg-color : white;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: var(--main-bg-color);
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-color: rgb(64, 64, 64);
    display: flex;
    justify-content: space-between;
}

.header > i {
    color: rgb(251, 251, 251);
    font-size: 22px;
    padding: 15px;
}

.score-container {
    color: rgb(251, 251, 251);
    width: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quiz-container {
    background-color: var(--secondary-bg-color);
    margin: auto;
    width: 560px;
    margin-top: 15px;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.playback-container {
    width: 100%;
    box-sizing: border-box;
    padding: 30px;
    margin-bottom: 20px;;
    background: linear-gradient(to bottom, var(--main-bg-color), white);
    border-radius: 8px;
    border: solid rgb(195, 195, 195) 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.playback-container > i {
    color: black;
    font-size: 20px;
}

:hover i {
    cursor: pointer;
}

.playback-line {
    width: 90%;
    height: 5px;
    margin-right: 10px;
    background-color: rgb(181, 181, 181);
}

.quiz-row {
    width: 100%;
    display: flex;
}

.right {
    justify-content: end;
}

.answer-card {
    width: 50%;
    border-radius: 8px;
    background: linear-gradient(to top, var(--main-bg-color), white);
    border: solid rgb(195, 195, 195) 1px;
    font-size: 15px;
    margin: 3px;
    padding: 8px;
}

:hover .answer-card {
    cursor: pointer;
}